html, body {
	position: absolute;
	font-family: 'Cambria','serif';
	margin: 0px;
	padding: 0px;
	min-width: 100%;
	width: auto;
	height: 100%;
	background-color: #f9fcff;
}
div{
	font-size: 14px;
}

input,select{
	font-family: 'Cambria','serif';
	font-size: 14px;
	margin-right: 5px;
	margin-left: 5px;
	padding: 2px 5px 2px 5px;
}

select[multiple]{
	min-width: 150px;
}

input.long_text{
	width: 350px;
}
input.short_text{
	width: 150px;
}

input.short_text_2{
	width: 115px;
}

input.short_text_3{
	width: 95px;
}

img{
	padding: 2px 8px 0px 0px;
}

option[selected]{
	background-color: #d9f3ff;
}

option[disabled]{
	background: #e1e1e1	;
}

table.collapsed{
	border-collapse: collapse;
}

textarea{
	font-family: 'Cambria','serif';
	font-size: 14px;
	margin-right: 5px;
	margin-left: 5px;
	height: 100px;
	width: 300px;
}

textarea.paragraph{
	width: 850px;
	resize: vertical;
}

textarea.subject{
	width: 850px;
	height: 25px;
	resize: vertical;
}

textarea.short_paragraph{
	width: 300px;
	height: 25px;
	resize: vertical;
}

textarea.noresize{
	resize: none;
	width:300px;
}

a {
	color: black;
	text-decoration: none;
}

a.button_transparent{
	color: blue;
    border-bottom: 2px outset #d2d2d2;
    border-left: 2px outset #f0f0f0;
    border-top: 2px outset #f0f0f0;
    border-right: 2px outset #d2d2d2;
	padding: 1px 5px 1px 5px;
}

a.button_transparent:hover{
	color:red;
    border-bottom: 2px inset #d2d2d2;
    border-left: 2px inset #f0f0f0;
    border-top: 2px inset #f0f0f0;
    border-right: 2px inset #d2d2d2;
    text-decoration: underline;
}

a.back{
	font-size: 11pt;
	color: gray;
	font-weight: bold;
	padding-left: 10px;
}

.title_font{
	font-size: 12.5pt;
	font-style: italic;
	font-weight: bold;
	line-height: 160%
}

.spacing{
	height: 50px;
}

.spacing2{
	height: 20px;
}

.outcast{
	margin-left: -1000px;
}

input[type="submit"],input[type="button"] {
    border-top: 2px outset #f0f0f0;
    border-right: 2px outset #d2d2d2;
    border-bottom: 2px outset #d2d2d2;
    border-left: 2px outset #f0f0f0;
 	background: -webkit-linear-gradient(#f0f0f0, #d2d2d2);
 	background: -moz-linear-gradient(#f0f0f0, #d2d2d2);
 	background: -ms-linear-gradient(#f0f0f0, #d2d2d2);
	color: black;
	cursor: pointer;
}

input[type="submit"]:hover,input[type="button"]:hover {
    border-top: 2px inset #d2d2d2;
    border-right: 2px inset #f0f0f0;
    border-bottom: 2px inset #f0f0f0;
    border-left: 2px inset #d2d2d2;
 	background: -webkit-linear-gradient(#d2d2d2, #f0f0f0);
 	background: -moz-linear-gradient(#d2d2d2, #f0f0f0);
 	background: -ms-linear-gradient(#d2d2d2, #f0f0f0);
}

input[type="button"]:disabled, input[type="submit"]:disabled{
	border: 2px inset #e1e1e1;
	background: #e1e1e1;
	color: gray;
	cursor: default;
}

input[type='checkbox'], input[type='radio'], label[for]{
	cursor: pointer;
	padding-right: 8px;
}

input[readOnly], input[disabled], textarea[readOnly]{
	background: #e1e1e1;
}

textarea[readOnly], textarea[disabled]{
	resize: none;
}

label.instruction{
	padding-left: 5px;
	color: green; 
	font-size: 12px; 
	vertical-align: middle; 
	font-style: italic;
}

label.instruction2{
	padding-left: 5px;
	color: red; 
	font-size: 13px; 
	vertical-align: middle; 
	font-style: italic;
}

label.constant{
	padding-left: 5px;
	color: #2B5075;
	font-size: 15.5px; 
	vertical-align: middle; 
	font-weight: bold;
}

label.constant_total{
	padding-left: 5px;
	color: red;
	font-size: 15.5px; 
	vertical-align: middle; 
	font-weight: bold;
	font-style: italic;
}

/* ########## ERROR MESSAGE ########## */
	.err{
		position: relative;
		color: red;
		font-size: 11pt;
		font-style: italic;
		list-style: none;
		background-color: #ffeaea;
	}

	.warning_background_stop{
		background-color: #ff8a8a;
		padding: 3px;
	}

	.warning_background_slow{
		background-color: #fff284;
		padding: 3px;
	}

/* ########## SUCCESS MESSAGE ########## */
	#success{
		position: relative;
		color: green;
		font-size: 11pt;
		font-style: italic;
		list-style: none;
		background-color: #eaffef;
	}

div.wrapper{
	display: block;
	padding: 20px 20px 20px 20px ;
}

div.search_box{
	position: relative;
	padding-left: 20px;
}

table.search_tables_form{
	font-size: 11pt;
	margin-left: -10;

}

table.search_tables_form tr td{
	padding: 2px 3px 2px 3px;
}

span h3{
	font-family: 'Cambria', 'sans serif';
	font-style: italic;
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px #969696 solid;
	color: #696969;
	margin: 20px 0px 30px 0px;
}

span h2{
	font-family: 'Cambria', 'sans serif';
	font-style: italic;
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px #969696 solid;
	color: #696969;
	margin: 20px 0px 20px 0px;
}

div.head_title{
	position: relative;
	font-family: 'Georgia', 'sans serif';
	height: 120px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 15px;
	border-bottom: 3px black solid;
	background: url("../images/blue_background_2.jpg");
}

.head_title a h1{
	position: relative;
	padding-left: 5px;
	padding-bottom: 5px;
}

div.welcome{
	display: block;
	margin: 0px 60px 40px 60px ;
	font-style: italic;
	float: right;
}

label.logout a{
	text-decoration: underline;
}

label.logout a:hover {
	color: red;
	text-decoration: none;
}

div.head_title_home{
	position: relative;
	font-family: 'Georgia', 'sans serif';
	height: 110px;
	padding-left: 30px;
	padding-top: 5px;
	border-bottom: 3px solid black;
	padding-bottom: 10px;
	background: url("../images/blue_background_2.jpg");
}

table.login tr td{
	line-height: 220%;
}

tr.align_bottom td{
	height: 100px;
	text-align: bottom;
}

/* ########## FOOTER ########## */
	footer{
		height: 150px;
		font-size: 12.5px;
		text-align: right;
		padding-right: 15px;
		color: gray;
	}
	footer:after{
		content: "\A \A \A \A \A \A \A \A \A COMSYS version2.0 ";
		white-space: pre-wrap;
	}

/* ########## DESIGNS FOR HOME PAGES ########## */

table.home_pages{
	width: 100%;
	line-height: 180%;
	font-size: 14px;
	margin-top: 40px;
}

table.home_pages tr th{
	font-family: 'Cambria', 'sans serif';
	background: url("../images/blue_background_2.jpg");
	border: 2px solid #99c7ff;
	text-align: center;
	padding: 2px 5px 2px 5px;
}

table.home_pages tr td{
	padding: 2px 5px 2px 5px;
}

table.home_pages tr:nth-child(odd) {
	background: #f9fdff;
}
table.home_pages tr:nth-child(even) {
	background: #d9f3ff;
}
table.home_pages tr:first-child{
	background-color: transparent !important;
}
table.home_pages tr:first-child td{
	padding-bottom: 40px !important;
}
table.home_pages tr:last-child{
	background-color: transparent !important;
}
table.home_pages tr:last-child td{
	padding-top: 40px !important;
}

/* ########## DESIGNS FOR ADD AND EDIT PAGES ########## */

table.parent_tables_form{
	line-height: 180%;
	font-size: 11pt;
}

table.parent_tables_form tr th{
	font-family: 'Cambria', 'sans serif';
	background: url("../images/blue_background_2.jpg");
	border: 2px solid #ebebeb;
	text-align: center;
}

table.parent_tables_form tr td{
	padding: 2px 5px 2px 5px;
}

table.parent_tables_form tr td.border_top{
	border-top: 2px solid #d2d2d2;
}

table.parent_tables_form tr td.border_bottom{
	border-bottom: 2px solid #d2d2d2;
	padding-bottom: 10px;
}

table.parent_tables_form tr td.border_left{
	border-left: 2px solid #d2d2d2;
	padding-left: 15px;
}

table.parent_tables_form tr td.border_right{
	border-right: 2px solid #d2d2d2;
}

table.child_tables_form{
	width: 100%;
	line-height: 180%;
	font-size: 11pt;
	margin-top: 40px;
	border: 1px solid #d2d2d2;
}

table.child_tables_form tr th, table.child_tables_form tbody tr th{
	font-family: 'Cambria', 'sans serif';
	background: url("../images/blue_background_2.jpg");
	border: 2px solid #ebebeb;
	text-align: center;
}

table.child_tables_form tr td{
	padding: 2px 5px 2px 5px;
}

table.child_tables_form tr td.border_right{
	border-right: 1px solid #d2d2d2;
}

table.child_tables_form tbody.thicker tr td.border_right{
	border-right: 2px solid #d2d2d2;
}

table.child_tables_form tr td.border_top{
	border-top: 1px solid #d2d2d2;
}

table.child_tables_form tbody.thicker tr td.border_top{
	border-top: 2px solid #d2d2d2;
}

table.child_tables_form tr td.border_bottom{
	border-bottom: 1px solid #d2d2d2;
}

table.child_tables_form tbody.thicker tr td.border_bottom{
	border-bottom: 2px solid #d2d2d2;
}

table.child_tables_form tr td.border_left{
	border-left: 1px solid #d2d2d2;
}

table.child_tables_form tbody.thicker tr td.border_left{
	border-left: 2px solid #d2d2d2;
}

table.child_tables_form tr td.rm_label{
	border: none;
	font-style: italic;
	font-weight: bolder;
	font-family: 'Cambria', 'sans serif';
}

table.child_tables_form tr td.total_label{
	border: none;
	font-style: italic;
	font-weight: bolder;
	font-family: 'Cambria', 'sans serif';
	text-align: right;
	padding-right: 20px;
}

table.child_tables_form tr td.total_value{
	border: none;
	font-style: italic;
	font-weight: bolder;
	font-family: 'Cambria', 'sans serif';
	text-align: left;
	padding-left: 20px;
}

table.child_tables_form tr.bgTotal td{
	font-family: 'Cambria', 'sans serif';
	background: #ebebeb;
	border: 2px solid #d2d2d2;
	padding-right: 15px;
	padding-left: 10px;
}

table.child_tables_form tbody.tbCanvassItems tr td{
	border: 1px #ccc solid;
}

table.child_tables_form tbody.tbCanvassItems tr th{
	border: 1px white solid;
}

table.child_tables_form tbody.tbCanvassItems tr th.align_left{
	text-align: left;
}

table.comments_buttons{
	margin-top: 40px;
}
table.comments_buttons tr:last-child{
	height: 100px;
	vertical-align: bottom;
}
label.add_transtype{
	background-color: #27de55;
	font-weight: bold;
	padding: 3px 8px 3px 8px;
	text-align: center;
}
label.sub_transtype{
	background-color: #ff8a8a;
	font-weight: bold;
	padding: 3px 8px 3px 8px;
	text-align: center;
}

/* ########## PERMISSIONS ########## */

table.table_permissions_role{
	width: 100%;
	line-height: 180%;
	font-size: 14px;
	margin-top: 30px;
	border-spacing: 0px;
	border: 1px solid #ebebeb;
}

table.table_permissions_role tr th{
	font-family: 'Cambria', 'sans serif';
	background: url("../images/blue_background_2.jpg");
	border: 2px solid #ebebeb;
	text-align: center;
}

table.table_permissions_role tr td{
	padding-left: 10px;
	border-bottom: 2px groove #ebebeb;
}

/* ########## DATA MIGRATION ########## */

.a_as_button{
	border-top: 2px outset #f0f0f0;
    border-right: 2px outset #d2d2d2;
    border-bottom: 2px outset #d2d2d2;
    border-left: 2px outset #f0f0f0;
 	background: -webkit-linear-gradient(#f0f0f0, #d2d2d2);
 	background: -moz-linear-gradient(#f0f0f0, #d2d2d2);
 	background: -ms-linear-gradient(#f0f0f0, #d2d2d2);
	color: black;
	cursor: pointer;
	padding: 4px;
}
.a_as_button:hover{
	 border-top: 2px inset #d2d2d2;
    border-right: 2px inset #f0f0f0;
    border-bottom: 2px inset #f0f0f0;
    border-left: 2px inset #d2d2d2;
 	background: -webkit-linear-gradient(#d2d2d2, #f0f0f0);
 	background: -moz-linear-gradient(#d2d2d2, #f0f0f0);
 	background: -ms-linear-gradient(#d2d2d2, #f0f0f0);
}

/* ########## RECOMMENDATION ########## */
	
div.results_wrapper{
	width: 90%;
	margin-top: 40px;
}

table.results_parent_tables_form{
	line-height: 150%;
	font-size: 12.5pt;
	font-style: italic;
	font-weight: bold;
}

table.results_parent_tables_form tr td{
	padding: 2px 5px 2px 5px;
}

table.results_child_tables_form{
	margin-left: 30px;
	width: 100%;
	line-height: 150%;
	font-size: 11pt;
	margin-top: 25px;
	margin-right: 20px;
	border: 2px #d2d2d2 solid;
}

table.results_child_tables_form tr:first-child td{
	line-height: 150%;
	font-size: 12pt;
	font-style: italic;
	font-weight: bold;
	border: none;
}

table.results_child_tables_form tr th{
	font-family: 'Cambria', 'sans serif';
	background: url("../images/blue_background_2.jpg");
	border: 2px solid #ebebeb;
	text-align: center;
}

table.results_child_tables_form tr td{
	padding: 2px 5px 2px 5px;
	border-bottom: 1px solid #ebebeb;
}


ul.rnd li{
	list-style: none;
	margin-left: 0;
	line-height: 25px;
}

/* ########## BATCH TICKET ########## */
	
div.trials_wrapper, div#tbJRDData{
	width: 80%;
	margin-top: 40px;
	border: 2px solid #d2d2d2;
	padding: 20px 20px 10px 20px;
}	
div.trial_results_wrapper{
	width: 80%;
	margin-top: 40px;
	padding: 20px 20px 10px 20px;
}

table.trials_parent_tables_form{
	line-height: 180%;
	font-size: 11pt;
	width: 100%;
}

table.trials_parent_tables_form tr td{
	padding: 2px 5px 2px 5px;
}

table.trials_child_tables_form, table#standard_formula{
	width: 100%;
	margin-top: 20px;
	padding: 5px;
	line-height: 150%;
	font-size: 11pt;
	border: 2px #ebebeb solid;
}

table.trials_child_tables_form tr th, table#standard_formula tr th{
	font-family: 'Cambria', 'sans serif';
	background: url("../images/blue_background_2.jpg");
	text-align: center;
	padding: 2px 5px 2px 5px;
}

table.trials_child_tables_form tr td, table#standard_formula tr td{
	padding: 2px 5px 2px 5px;
}

table.trials_child_tables_form tr.border_top td, table#standard_formula tr.border_top td{
	border-top: 1px solid #d2d2d2;
}



	

/* ------------------- PAGINATION ------------------- */
	div.pagination_old{
		position: absolute;
		top: 225px;
		width: 100%;
		padding: 3px;
		margin: 3px;
		z-index: 1;
	}

	div.pagination{
		width: 100%;
	}

	div.pagination a {
		padding: 2px 5px 2px 5px;
		text-align: center;
		margin: 2px;
		width: 100%;
		border: 1px solid #99c7ff;
		background-color: #f9fcff;
		text-decoration: none; 
		color: #000099;
	}
	div.pagination a:hover, div.pagination a:active {
		border: 1px solid #7979ff;
		color: #fff;
		background: url("../images/blue_background_1.jpg");
	}
	div.pagination a.current {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #62a9ff;	
		font-weight: bold;
		background-color: #62a9ff;
		color: #FFF;
		background: url("../images/blue_background_1.jpg");
	}
	div.pagination a.disabled {
		border: 1px inset #e1e1e1;
		background: #e1e1e1;
		color: gray;
		cursor: default;
		padding: 2px 5px 2px 5px;
		margin: 2px;
	}

p.job_order{
	width:40em; 
	word-wrap:break-word;
}

