ul#menu 
{ 
  margin:20px 0px 0px 0px;
}

ul#menu ul {
  position:absolute;
  left:0;
  top:100%;
  display:none;
  padding:0px;
  margin:0px;
}

ul#menu li
{ 
  list-style: none;
  display: inline;
  background: transparent;
  text-align: center;
  float:left;
  position:relative;
}

ul#menu a
{ 
  float: left;
  font: bold 13px 'Georgia';
  text-decoration: none;
  height: 35px;
  width:auto;
  margin: 0px 0px 0px 0px;
  padding: 3px 10px 0px 10px;
  text-align: left;
  color: black;
} 

ul#menu a:hover
{ 
  background: url("../images/blue_background_1.jpg");
  color: white;
}

ul#menu li:hover ul
{ 
  display: block;
  background: url("../images/blue_background_2.jpg");
}

ul#menu ul a {
  width: 210px;
}

ul#menu ul
{ 
  display: none;
  position: absolute;
  z-index: 1;
  top:100%;
  left: 0px;
  height: auto;
  width: 17em;
  padding-bottom: 5px;
  padding-top: 10px;
}

ul#menu ul ul {
  top:0;
  left:100%;
}
ul#menu li:hover ul ul {
  display:none;
}
ul#menu ul li:hover ul {
  display:block;
}

ul#menu li:hover ul ul ul{
  display:none;
}
ul#menu ul li:hover ul li:hover ul{
  display:block;
}




