div#container{
	position: relative;
	top: 50px;
	left: 20px;
	padding: 5px 5px 5px 5px;
}
div#top{
	position: relative;
	top: 5px;
	left: 10px;
	padding: 5px 5px 5px 5px;
}
div#center{
	position: relative;
	top: 20px;
	left: 10px;
	width: 680px;
	height: 187px;
	padding-top: 5px;
	/*border: 2px solid #ccc;*/
}
div#division{
	position: absolute;
	float: left;
	width: 258px;
	border-top: 2px ridge #ccc;
	border-left: 2px ridge #ccc;
	border-bottom: 2px ridge #ccc;
	padding: 5px 5px 5px 5px;
}
div#purpose{
	position: absolute;
	right: 0px;
	border-top: 2px ridge #ccc;
	border-left: 2px ridge #ccc;
	border-right: 2px ridge #ccc;
	border-bottom: 2px ridge #ccc;
	padding: 5px 5px 5px 5px;
	height: 173px;
}
div#user{
	position: absolute;
	bottom: 0px;
	width: 258px;
	height: 70px;
	border-left: 2px ridge #ccc;
	border-bottom: 2px ridge #ccc;
	padding: 5px 5px 0px 5px;
}
th{
	background-color: #75d6ff;
	line-height: 250%;
	font-size: 16px;
	font-family: 'cambria', 'sans serif';
	border: 1px solid #ccc;
	padding: 0px 8px 0px 8px;
}
table#table1{
	position: relative;
	top: 40px;
	left: 10px;
	border: 1px solid #ccc;
	padding: 2px 2px 5px 2px;
}
table#table2{
	position: relative;
	top: 50px;
	left: 10px;
	padding: 2px 2px 5px 2px;
}
#buttons{
	position: relative;
	top: 75px;
	left: 10px;
}
body{
	font-family: 'calibri';
}
