
tr:nth-child(even) {
	background: #d9f3ff;
	line-height: 180%;
}
tr:nth-child(odd) {
	background: #f9fdff;
	line-height: 180%;
}
tr:nth-last-child(1) {
	background-color: transparent;
}
tr:first-child {
	background-color: transparent;
}
tr:nth-child(2) {
	background-color: transparent;
}
table td, table th {
    border: 2px solid #ebebeb;
}
th{
	background-color: #75d6ff;
	line-height: 250%;
	font-size: 16px;
	font-family: 'cambria', 'sans serif';
}
.borderless{
	border: none;
	/*line-height: 100%;*/
}
.button {
    border-top: 2px outset #f0f0f0;
    border-right: 2px outset #d2d2d2;
    border-bottom: 2px outset #d2d2d2;
    border-left: 2px outset #f0f0f0;
    background: -webkit-linear-gradient(#f0f0f0, #d2d2d2);
    background: -moz-linear-gradient(#f0f0f0, #d2d2d2);
    background: -ms-linear-gradient(#f0f0f0, #d2d2d2);
	font-family: 'calibri', 'sans serif';
	font-size: 15px;
	color: black;
	cursor: pointer;
	padding: 2px 7px 2px 7px;
}
.button:hover {
    border-top: 2px inset #d2d2d2;
    border-right: 2px inset #f0f0f0;
    border-bottom: 2px inset #f0f0f0;
    border-left: 2px inset #d2d2d2;
    background: -webkit-linear-gradient(#d2d2d2, #f0f0f0);
    background: -moz-linear-gradient(#d2d2d2, #f0f0f0);
    background: -ms-linear-gradient(#d2d2d2, #f0f0f0);
	font-family: 'calibri', 'sans serif';
	font-size: 15px;
	color: black;
	cursor: pointer;
	padding: 2px 7px 2px 7px;
}
label{
	padding-left: 10px;
	padding-right: 10px;
}
