body{
	font-family: 'Calibri', sans-serif;
}
.container{
	position: relative;
	top: 50px;
	left: 30px;
}
.ac-container{
	width: 760px;
	/*margin: 10px auto 30px auto;*/
	text-align: left;
	background-color: #f9fdff;
}
.ac-container label{
	font-family: 'Cambria', sans-serif;
	padding: 5px 20px;
	position: relative;
	/*z-index: 20;*/
	display: block;
	height: 20px;
	cursor: pointer;
	color: black;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	/*line-height: 33px;*/
	font-size: 16px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 1%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -o-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	background: linear-gradient(top, #ffffff 1%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 );
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		1px 0px 0px 0px rgba(255,255,255,0.9) inset, 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
	background: #fff;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{ /* background of selected tab */
  	background: -webkit-linear-gradient(#d9f3ff, #75d6ff);
	color: black;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow: 
		0px 0px 0px 1px rgba(155,155,155,0.3), 
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	/*position: relative;*/
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background: url(../images/arrow_up.png);
}
.ac-container input[type='radio']{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	/*z-index: 10;*/
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p{
	font-style: italic;
	color: black;
	line-height: 23px;
	font-size: 14px;
	padding-top: 10px;
	padding: 0 20px 20px 20px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: 140px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 350px;
}
.ac-container input:checked ~ article.ac-large{
	height: 580px;
}
.ac-container article table{
	position: relative;
	top: 15px;;
	left: 15px;
}
.ac-container article table th{
	color: black;
	line-height: 20px;
	font-size: 16px;
	padding: 5px 20px 5px 20px;
	border: 1px #ccc solid;
	text-align: center;
	background-color: #75d6ff;
}
.ac-container article table td{
	color: black;
	line-height: 20px;
	font-size: 15px;
}
.ac-container article table td.data{
	color: black;
	font-size: 15px;
	text-align: center;
}